body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

.title{
  background-color: blue !important;
}

.content{
  font-size: 18px;
}

a{
  text-align: center !important;
}

navbar navbar-inverse{
  text-align: center;
}
